
<html>
<head>
{% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}" /> 
  <link rel="stylesheet" type="text/css" href="{% static "css/categories.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "css/navigation.css" %}" />
  <script src="{% static "js/jquery.js" %}" type="text/javascript"></script>
  <script src="{% static "js/boxes.js" %}" type="text/javascript"></script> 
    <script src="http://d3js.org/d3.v3.min.js" type="text/javascript"></script>

<script type="text/javascript">
function getPath(){
document.forms[0].thepath.value=document.forms[0].thefile.value;
}
</script>


</head>
<body>
<div id="titlebar" class="gray">
  <h1> The ArchivIT project</h1>
</div>

<div id="leftcol">
  <div id="leftmenu">
 <h2> Browse </h2>

  </div>
</div>

<div id="content">
  <h1>Thumbnail Maker</h1>
  <form action="#" method="post">
   <div style="float: center; margin-top: 40px;">
       <label for="data">The pdf source directory: </label>
<input type="file" value="" name="thefile" onblur="getPath()">

</form>
     </div>
      <div style="float: center; margin-top: 20px;">
  <form action="#" method="post">
	 <label for="data">The destination directory: </label>
<input type="file" value="" name="thefile" onblur="getPath()">

 </form>
  </div>
 
<div style="float: center; margin-left: 150px;">
<input type="button" class="button" value="Make" name="makethumb">
</div>



</div>


<script src="{% static "js/navigation.js" %}" type="text/javascript"></script>
</body>
</html>

